fastapi
uvicorn[standard]
langchain
langchain-community
ctransformers
faiss-cpu
sentence-transformers
Pillow
numpy
easyocr
torch
torchvision
python-multipart
pydantic
slowapi
google-generativeai
python-dotenv
